.left-side-column-container {
    padding: 15px;
    width: 30%;
    
    .left-side-column-wrapper {
        font-family: 'Montserrat';

        .info-wrapper {
            display: block;
            width: 100%;
            padding-bottom: 15px;

            .header {
                display: block;
                width: 100%;
                color: #DB3F1E;
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 5px;
            }
            .category-block {
                display: block;
                padding-bottom: 10px;

                .category {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                }
                .information {
                    font-family: 'Roboto';
                    display: block;
                    width: 100%;
                    font-size: 12px;
                    font-weight: 300;
                    word-wrap: break-word;
                }
            }
        }

        .links-wrapper {
            display: block;
            width: 100%;
            padding-bottom: 15px;

            .header {
                display: block;
                width: 100%;
                color: #DB3F1E;
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 5px;
            }
            .link-block {
                display: block;
                width: 100%;
                padding-bottom: 10px;

                .icon-wrapper {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 14px;
                    font-weight: bold;

                    .icon {
                        height: 20px;
                    }
                    .domain {
                        padding-left: 3px;
                    }
                }
                .link {
                    font-family: 'Roboto';
                    font-size: 12px;
                    font-weight: 300;
                    text-decoration: none;
                }
            }
        }

        .skills-wrapper {
            display: block;
            width: 100%;
            padding-bottom: 15px;

            .header {
                display: block;
                width: 100%;
                color: #DB3F1E;
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 5px;
            }

            .skill-block {
                width: 100%;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;

                .technology {
                    text-transform: capitalize;
                    font-size: 14px;
                    font-weight: bold;

                }
                
                .skill {
                    font-size: 14px;
                    padding: 2px 0 0 5px;
                }
                
                .value-wrapper {
                    display: flex;
                    justify-content: flex-start;

                    .value {
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background: #000000;
                        margin: 3px;
                    }

                    .dummy-value {
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background: #848991;
                        margin: 3px;
                    }
                }
            }
        }

        .languages-wrapper {
            display: block;
            width: 100%;
            padding-bottom: 15px;

            .header {
                display: block;
                width: 100%;
                color: #DB3F1E;
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 5px;
            }

            .language-block {
                display: block;
                width: 100%;
                padding-bottom: 10px;

                .language {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                }

                .value-wrapper {
                    display: flex;
                    justify-content: flex-start;

                    .value {
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background: #000000;
                        margin: 3px;
                    }

                    .dummy-value {
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        background: #848991;
                        margin: 3px;
                    }
                }
            }
        }

        .hobbies-wrapper {
            display: block;
            width: 100%;
            padding-bottom: 15px;

            .header {
                display: block;
                width: 100%;
                color: #DB3F1E;
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 5px;
            }

            .hobbies {
                font-family: 'Montserrat';
                display: block;
                width: 100%;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}