.left-side-column-container {
    padding: 15px;
    width: 30%;
    background: greenyellow;
    
    .left-side-column-wrapper {

        .info-wrapper {

            span {
                display: block;
            }
        }
    }
}